<title>404</title>
<div class="center">
  <div class="circle"></div>

  <div class="line"></div>

  <div class="banner">
    <h1>
      Oops!
    </h1>
  </div>

  <h2>
    Error 404 page not found
  </h2>
</div>
<style>
  body {
    background-color: #D9A708;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .circle {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }

  .line {
    content: "";
    display: block;
    height: 300px;
    width: 2px;
    background-color: #FFF;
    margin: 0 auto;
    transform-origin: center;
    animation: animate 3s linear infinite;
  }

  .banner {
    width: 270px;
    height: 90px;
    background-color: #FFF;
    taransform-origine: top;
    animation: animate 2.9s linear infinite;
  }

  h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
    line-height: 90px;
    color: #D9A708;
  }

  h2 {
    color: #FFF;
  }

  @keyframes animate {
    0% {
      transform: rotate(-2deg);
    }

    50% {
      transform: rotate(2deg);
    }

    100% {
      transform: rotate(-2deg);
    }
  }
</style>
